.animation_spin{
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(-20deg);
  }
}